@import "~breakpoint-sass";
$bk-desktop: 1920px 1440px;
$bk-table-landscape: 1440px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

.LogotypeWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: left;

  //position
  //position: absolute;
  //left: 240px;
  //top: 146px;

  @include breakpoint($bk-phone) {
    position: relative;
    left: 0;
    top: 0;
  }

  @include breakpoint($bk-table-landscape) {
    position: fixed;
    left: 50px;
    top: 100px;
  }

  @include breakpoint($bk-table) {
    position: relative;
    left: auto;
    top: 0;
  }
  .TextWrapper {
    .Title {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 84px;
      line-height: 100px;

      color: #FFFFFF;
      transition: 1s;
      text-decoration: none;
      margin-bottom: 34px;

      @include breakpoint($bk-table-landscape) {
        font-size: 64px;
        margin-bottom: 5px;
      }

      @include breakpoint($bk-phone) {
        font-size: 64px;
        margin-bottom: 5px;
      }

      @include breakpoint($bk-table) {
        margin-bottom: 5px;
      }
    }

    .Title:hover {
      transition: 0.5s;
      color: brown;
    }

    .Subtitle {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;

      color: #FFFFFF;

      @include breakpoint($bk-table-landscape) {
        font-size: 24px;
        transition: 0.5s;
        line-height: 25px;
      }

      @include breakpoint($bk-phone) {
        display: none;
      }
    }
  }

  //.BGSpinner {
  //  background-image: url("./Spinner/Background.png");
  //  background-repeat: no-repeat;
  //  animation: spin 4s linear infinite;
  //  width: 757px;
  //  height: 757px;
  //  opacity: 35%;
  //
  //  @include breakpoint($bk-table-landscape) {
  //    width: 100%;
  //    height: 100%;
  //    opacity: 5%;
  //  }
  //  @include breakpoint($bk-phone) {
  //    display: none;
  //  }
  //
  //  @keyframes spin {
  //    0% {
  //      transform: rotate(0deg);
  //    }
  //    100% {
  //      transform: rotate(360deg);
  //    }
  //  }
  //}
}
