@import "~breakpoint-sass";
$bk-desktop: 1440px;
$bk-table-landscape: 1085px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

.Text {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 250px;
  line-height: 183px;

  color: #fff;

  @include breakpoint($bk-table) {
    font-size: 120px;
  }
  @include breakpoint($bk-table-landscape){
    font-size: 120px;
  }
  @include breakpoint($bk-phone){
    font-size: 64px;
  }

}
