.StepWrapper {
  display: flex;
  align-items: center;
  //text-align: center;
  padding-bottom: 11px;
  padding-top: 11px;


  .Circle {
    height: 34px;
    width: 34px;
    border-radius: 34px;
    /* Main White 10% */
    background: rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 14px;
  }

  .Number {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    text-align: center;
  }
  .Text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
  }
}
