@import "~breakpoint-sass";
$bk-desktop: 1440px;
$bk-table-landscape: 1085px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

.CentralWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include breakpoint($bk-phone) {
    padding: 0 20px 0 30px;
  }
}
.ContactsPageWrapper {
  display: flex;
  @include breakpoint($bk-table) {
    flex-flow: column;
  }
  @include breakpoint($bk-table-landscape) {
    flex-flow: column;
  }
  @include breakpoint($bk-phone) {
    flex-flow: column;
  }

  .Text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 155px;

    color: #fff;

    @include breakpoint($bk-table-landscape){
      font-size: 120px;
    }
    @include breakpoint($bk-table) {
      font-size: 84px;
    }
    @include breakpoint($bk-phone){
      font-size: 64px;
    }
  }
  .HomeButton {
    margin-right: 34px;
    height: 34px;
    text-decoration: none;
  }

  .TitleSubtitle {
    display: flex;
    flex-flow: column;
    .IconWrapper  {
      display: flex;
      justify-content: space-between;
      width: 260px;
      margin-bottom: 34px;
    }
    .link {
      width: 64px;
    }
  }

  .Subtitle1 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    //line-height: 40px;

    color: #FFFFFF;

    margin-bottom: 34px;
    margin-top: 34px;

    @include breakpoint($bk-table) {
      margin-top: 0;
    }
    @include breakpoint($bk-table-landscape) {
      margin-top: 0;
    }

    @include breakpoint($bk-phone) {
      margin-top: 0;
    }
  }
  .Subtitle2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 34px;
    color: #FFFFFF;
  }

  .Email {
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 34px;
    color: #FFFFFF;

    max-width: 120px;

    @include breakpoint($bk-phone){
      font-size: 18px;
    }
  }
}
