.Social {
  height: 64px;
  width: 64px;
  border-radius: 64px;
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  transition: 0.5s;
}

.Social:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 1s;
}

.Wrapper {
  margin-right: 34px;
}
